name: Optimize images

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - "**/*.png"

permissions:
  contents: write
  pull-requests: write

jobs:
  optimize:
    uses: GTNewHorizons/GTNH-Actions-Workflows/.github/workflows/optimize-images.yml@master
    secrets: inherit
