name: Optimize images

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - "**/*.png"

permissions:
  contents: write
  pull-requests: write

jobs:
  optimize:
    uses: Achrobat/Workflow-Repo/.github/workflows/optimize_images.yml@main
    secrets: inherit
